<div id="wrapper">

<h1>Baby Steps!</h1>

<p >Taking my first step into unchartered territories.  The first step is always the scariest but once you take it, you're in for an adventure.</p>

<hr />
<br />
<%= link_to "Eureka", posts_path %>

<br />
<br />


</div>


